/* Anndisplay.css */

.Annupdate {
    margin-right: 16px; /* Adjust the gap as desired */
    background-color: #4096ff;
    color: white;
}

.Annupdate:hover, .Annupdate:focus {
    background-color: #CA9220; /* Darker shade for hover/focus */
    border-color: #CA9220;
}

.table-header {
    display: flex;
    justify-content:center;
    padding-left: 486px; /* Align items to the right */
    
}

.search-container {
   
    width: 200px; /* This should match the inline style of the Input if you set one */
}

.cancel {
    background-color: transparent; /* Transparent background */
    color: #ff0000; /* Red text color */
    border: 2px solid #ff0000; /* Red outline */
}

.cancel:hover, .cancel:focus {
    background-color: #ff0000; /* Red background on hover/focus */
    color: white; /* White text color on hover/focus */
}

