.main {
    padding: 20px;
    height: 100%;
}

.sidebar {
    background-color: #1f0000;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    min-height: 100%;
    padding: 10px;
    width: 300px !important;
    position: fixed; /* Fix the position */
    top: 0; /* Position at the top */
    left: 0; /* Move all the way to the left */
    bottom: 0; /* Extend to the bottom */
}

.content {
    width: 100%;
    height: 100%;
    width: calc(100% - 390px); /* Subtract the width of the sidebar from the total width */
    margin-left: 280px; /* Adjust margin to leave space for the sidebar */
    min-height: calc(100vh - 20px); /* Subtract padding from the total viewport height */
    padding: 20px;
}

.header {
    background-color: white;
    margin-bottom: 20px;
    top: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* Ensures content is not flush against edges */
}
.logo{

    height: 90px;
    width: 220px;
    margin-left: 20px;

}

.laybody {
    background-color: white;
    border: none !important;
    height: 80vh;
    width: 100%;

    margin-bottom: 10px !important;

}

.menu {
    padding: 20px;
    min-height: 100vh;
}

.menu-item {

    margin-top: 22px !important;

}

.menu-item a, .menu-item i {
    color: rgba(255, 255, 255, 0.727);
    text-decoration: none;
    font-size: 18px;
}

.menu-item i {
    margin-right: 15px !important;
}

.active-menu-item {
    color: white;
    background-color: rgb(66, 34, 2) !important;
    padding: 5px;
    border-radius: 5px;
}

.layout-action-icon-container {
    display: flex;
    align-items: center;
}

.layout-action-icon {
    font-size: 10px; /* Adjust size as needed */
    color: #333; /* Adjust color as needed */
}
/* .annscrollable-container {
    overflow-y: auto; 
    height: 400px; 
    width: 100%; 
   
    padding: 16px; 
    max-height: 500px; 
} */

.annflex-container {
    height: calc(100vh - 120px); /* where 120px accounts for headers, footers, or other components */
}

