.header{
    background-color:  #1F1300;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    margin-bottom: 20px;
    height: 8vh;
}
.logo{
    height: 3rem;
    width: 5rem;
    #lg{
        margin-left: 5px;
        margin-top: 5px;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        object-fit: cover;
        
    }
}

