.institle {
    margin-top: 40px;
    padding-left: 14px;
}

.ins-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .insform-container {
    width: 100%;
    max-width: 600px;
  }
  
  .ins-main-form {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
  }
  
  .ins-title {
    padding-left: 14px;
    margin-top: 140px;
  }

  .ins-form-item {
    margin-bottom: 12px;
  }
  
  .ins-form-item label {
    display: block;
    text-align: right;
    margin-bottom: 8px;
  }
  
  .ins-form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  
  .ins-item {
    flex: 1;
    margin-right: 20px;
  }
  
  .ins-item:last-child {
    margin-right: 0;
  }
  
  .ins-item label {
    display: block;
    margin-bottom: 5px;
  }
  
  .ins-button-container {
    text-align: center;
  }
  
  .ins-primary-button {
    background-color: #1890ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .ins-primary-button:hover {
    background-color: #40a9ff;
  }
  
  .ins-input-field {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    transition: border-color 0.3s ease;
  }
  
  .ins-input-field:focus {
    border-color: #1890ff;
    outline: none;
  }
  
  .ins-textarea-field {
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    transition: border-color 0.3s ease;
    resize: vertical;
  }
  
  .ins-textarea-field:focus {
    border-color: #1890ff;
    outline: none;
  }

.insanchor {
  font-size: 1rem;
  text-decoration: underline;
}

.custom-upload {
  width: 160px; 
}

.file-name {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 160px; 
}

.inscustom-modal .ant-modal-footer {
  text-align: center; 
}

.insupdate {
  margin-right: 16px; 
  background-color: #4096ff;
  color: white;
}

.insupdate:hover, .insupdate:focus {
  background-color: #CA9220; 
  border-color: #CA9220;
}

.inscancel {
  background-color: transparent; 
  color: #ff0000; 
  border: 2px solid #ff0000; 
}

.inscancel:hover, .inscancel:focus {
  background-color: #ff0000; 
  color: white; 
}

.insStatusButton {
  background-color: #ffc658;
  color: white;
  text-Align: "center"; 
  margin-Top: "20px";
}

.insmybox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.insmybox1 {
  width: 200px;
  height: 100px;
  background-color: #f8f8f8; 
  border: 2px solid #1890ff; 
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.insmybox1:hover {
  background-color: #e6f7ff; 
  color: #1890ff; 
  border-color: #1890ff; 
}

.insmybox1 .boxname {
  font-size: 15px;
  color: #1890ff; 
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.insSearch{
  margin-left: 15px;
  margin-bottom: 10px;
}

.insadditional-info {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.insinfo-card {
  width: 200px;
  margin: 0 10px;
}

.insinfo-value {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
  color: blue;
}

.insinfo-title {
  text-align: center;
  margin-bottom: 10px;
  color: #666;
  font-size: 18px;
}

.inschart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inschart-wrapper {
  width: 49%;  
}

.insdownloadbutton{
  margin-Bottom: '20px'; 
  margin-Left: '14px';
  margin-Top: '5px';
}

.right-button-container {
  position: fixed;
  bottom: 20px; 
  right: 20px; 
}

.insreport {
  margin-right: 8px; 
}

.insreportdownload {
  margin-right: 16px; 
  background-color: #ffc658;
  color: white;
}