.mainlog {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mainlog::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./Images/Cigars.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    background-color: rgba(0, 0, 0, 1);
    z-index: -1;
}

.boxx_log {
    
    box-shadow: 0 0 2px rgba(128, 128, 128, 0.043);
    border-radius: 20px;
    width: 500px !important;
    background-color: #FAFAFA !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}
.logolog {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures the image is displayed as a block element */
    margin: 0 auto; /* Centers the image horizontally */
}

.main_login_form_log {
    width: 400px; /* Adjust width as needed */
    height: 400px;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}
.logindata {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100%;
}
.logindataform{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    margin-right: 450px!important;
    margin-bottom: 50px;

}



input {
    border-radius: 10px !important;
    border: 1px solid rgba(128, 128, 128, 0.521);
    height: 40px !important;
    width: 80%; /* Adjust width as needed */
}
input:hover{
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ECB159!important;

}

label {
    font-size: 16px !important;
    color: black;
    font-weight: normal !important;
}

.primary-button {
    background-color: #ECB159!important;
    
    height: 40px !important;
    width: 250px !important;
    align-items: center !important;
    color: #000000 !important;
    font-size: 16px !important;
    font-weight: bold;
    border-radius: 20px !important;
    margin-top: 30px !important;
    margin-left: 18px;
    justify-content: center !important;
}

.title_log {
    color: #1F1300;
   
}

.Button-conslog {
    margin-top: 30px;
    margin-left: 500px;
}

.logincontent {
    width: 100%;
    height: 100%;
}