:root {
    --available-date-bg-color: #FFC15E;
    --available_date-bg-color2: #F6D776;
    --unavailable-date-bg-color: #ffff;
    --today-bg-color: #dfdfdf;
    --this-month-font-color: #000;
    --outside-month-font-color: #c2c2c2;
    --datepicker-border-color: #dfdfdf;
    --datepicker-bg-color: #ffff;
    --choosen-date-color: #0000;
}

/* 
**
**
override original date picker componenets 
**
**
*/
.react-datepicker {
    font-size: 1.1rem;
    border-radius: 20px;
    background-color: var(--datepicker-bg-color)!important;
    border: 1px solid var(--datepicker-border-color);
    color: var(--this-month-font-color);
}

.react-datepicker__header {
    border-top-left-radius: 20px;
    background-color: var(--datepicker-bg-color);
    border-bottom: 1px solid var(--datepicker-border-color);
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
    border-top-right-radius: 20px;
}

.react-datepicker__current-month {
    font-size: 16px;
    font-weight: 550;
    color: #818181;
}

.react-datepicker__day-name {
    width: 2rem;
    font-size: 16px;
    color: black;
}

.react-datepicker__day {
    background-color: var(--available-date-bg-color);
    width: 2rem;
    line-height: 3rem;
    border-radius: 20px;
    border: 1px solid var(--datepicker-bg-color);
}

.react-datepicker__day:hover {
    border-radius: 20px;
    border-color: black;
    background-color: var(--available-date-bg-color);
}

.react-datepicker__day--disabled {
    background-color: var(--unavailable-date-bg-color);
    color: inherit;
}

.react-datepicker__day--disabled:hover {
    border-color: var(--unavailable-date-bg-color);
    background-color: var(--unavailable-date-bg-color);
}

.react-datepicker__day--today, .react-datepicker__month-text--today, .react-datepicker__quarter-text--today, .react-datepicker__year-text--today {
    font-weight: normal;
    border-radius: 20px !important;
    border: 1px solid var(--today-bg-color);
    background-color: var(--today-bg-color) !important;
}

.react-datepicker__day--today:hover {
    border-color: var(--today-bg-color);
}

.react-datepicker__day--newly_disabled {
    background-color: var(--unavailable-date-bg-color);
    border: 1px solid var(--available-date-bg-color);
}

.react-datepicker__day--selected {
    background-color: #000;
    border-radius: 20px;
}

.react-datepicker__day--selected:hover {
    background-color: gray;
    border-radius: 20px;
}

.react-datepicker__day--outside-month {
    color: var(--outside-month-font-color);
}


/* 
**
**
Employee
**
**
*/



.emp-appointment-container-main {
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content:space-around;
}

.emp-appointment-container-secondary-1 {
    display: flex;
    /*border: 1px solid blue;*/
}

.emp-appointment-container-secondary-1-title {
    font-size: 18px;
    font-weight: 500;
}

.date-picker-and-selector {
    display: flex;
    margin-top: 25px;
}

.date-selector-title {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.date-selector {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 2px gray;
    height: max-content;
    width: 200px;
    padding: 15px;
    margin: 2px 20px;
    justify-content: center;
}

.date-selector-info {
    display: flex;
    flex-direction: column;
}

.date-selector-info-row {
    display: flex;
    flex-direction: row;
}

.date-selector-info-label {
    width: 60px;
}

.emp-schedule-button {
    background-color: #FFC15E;
    font-weight: bold;
    border-color: #FFC15E;
    border-radius: 20px;
    align-self: center;
}


.vl {
    border-left: 2px solid var(--datepicker-border-color);
    height: match-parent;
  }




.emp-appointment-container-secondary-2 {
    display: flex;
    flex-direction: column;
}

.ant-descriptions-title {
    font-size: 18px !important;
}

.emp-appointment-upcomming-button-container-main {
    display: flex;
    flex-direction: row;
    padding: 15px 0px 10px 0px;
    justify-content: right;
}

.emp-appointment-upcomming-button-container-secondary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: max-content;
}

.emp-reschedule-button {
    background-color: #FFC15E;
    font-weight: bold;
    border-color: #FFC15E;
    border-radius: 20px;
    margin-right: 4px;
}

.emp-cancel-button {
    background-color: var(--datepicker-border-color);
    font-weight: bold;
    border-color: var(--datepicker-border-color);
    border-radius: 20px;
    margin-left: 4px;
}


/* ========= History tab ========= */

.ant-tabs {
     height: 100%;
     overflow: hidden;
 }

 .ant-tabs-tabpane {
    max-height: 65vh;
    overflow-y: auto;
 }

 .ant-tabs-nav-list {
    margin-left: 10px !important;
 }




/*
**
**
doc date picker
**
**
*/

.doc-date-picker-container .react-datepicker__day {
    background-color: var(--datepicker-bg-color);
    width: 2rem;
    line-height: 3rem;
    border-radius: 20px;
    border: 1px solid var(--datepicker-bg-color);
}

.doc-date-picker-container .react-datepicker__day--selected {
    background-color: black !important;
    color: white!important;
    width: 2rem;
    line-height: 3rem;
    border-radius: 20px;
    border: 1px solid var(--datepicker-bg-color);
}

.doc-date-picker-container {
    display: flex;
    flex-direction: row;
}

.date-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    
    border-radius: 20px;
    box-shadow: 0 0 2px gray;
    height: 58vh;
    padding: 0px 15px 15px 15px;
    margin: 0 20px;
    width: 100%;
}

.date-list {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    background-color: white;
    /*border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 0 0 2px gray;*/
    height: 50vh;
    padding: 5px 5px 5px 5px;
    margin: 0 20px;
    width: 100%;
}

.single-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    list-style-type: none;
    border-radius: 20px;
    box-shadow: 0 0 2px gray;
    height: wrap-content;
    padding: 15px;
    margin: 0 5px 5px 5px;
    width: 100%;
}

.single-date Input {
    width: 200px !important;
}


/*
**
**
medical-overview
**
**
*/

.doc-overview-main {
    display: flex;
    flex-direction: row;
    width: match-parent;
    max-height: 80vh;
    padding: 20px;
    
}

.doc-overview-secondary-1 {
    display: flex;
    width: wrap-content;
    height: match-parent;
    flex-direction: column;
}

.doc-overview-secondary-1-title {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.doc-overview-secondary-1-title-1 {
    font-size: 18px;
    font-weight: 500;
    color: #818181;
}


.doc-overview-secondary-1-title-2 {
    display: flex;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    height: match-parent;
    border-radius: 20px;
    width: 120px;
    background-color: #F6D776;
}


.doc-overview-secondary-1 .ant-card-body {
    display: flex !important;
    width: wrap-content !important;
    align-items: center !important;
    padding: 10px !important;
}

.doc-overview-date-scheduled-count-list {
    height: 80vh;
    width: 110vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.doc-overview-date-scheduled-count-list-card-content-outer {
    display: flex;
    flex-direction: column;
    height: wrap-content;
    width: 120px;
    align-items: center;
    justify-content: center;
}


.doc-overview-date-scheduled-count-list-card-content-inner-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    align-items: center;
    margin-bottom: 15px;
}

.doc-overview-date-scheduled-count-list-card-content-inner-2 {
    text-align: center;
    font-size: x-large;
    width: 45px;
    height: 45px;
    align-items: center;
    border-radius: 60px;
    background-color: #dfdfdf;
}





.doc-overview-secondary-2 {
    display: flex;
    border: 1px solid blue;
}