#componentPDF {
  width: 100%;
  margin-bottom: 20px;
}

/* Styling for the Download Report button */
.btn-success {
  background-color: #28a745;
  color: #fff;
  border-color: #28a745;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}