.totalsscontainer {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.totalsscroll-container {
  display: flex;
  
  scroll-snap-type: x mandatory;
  padding: 20px 0;
}

.totalsform {
  flex: 0 0 300px; 
  margin-right: 45px; 
  margin-left: 30px !important;
  scroll-snap-align: start;
  border-radius: 10px; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  background-color: #fff; 
}

.title {
  margin: 0;
  padding: 15px;
  background-color: #1F1300;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


.totalsimage-container {
  text-align: center; 
  margin-top: 20px; 
}

.image {
  max-width: 80%; 
  height: auto; 
  border-radius: 10px; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.totalslist {
  list-style: none; 
  padding: 0; 
}

.list li {
  padding: 10px 20px; 
  border-bottom: 1px solid #eee; 
}

.list li:last-child {
  border-bottom: none; 
}

.buttons-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}

.history-button,
.report-button {
  background-color: #F7B05B !important;
  border: 2px solid #1F1300 !important;
  height: 40px !important;
  width: 300px !important;
  color: #000000 !important;
  font-size: 16px !important;
  font-weight: bold;
  border-radius: 10px !important;
  margin-right: 10px; 
}

