.uniform-order-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uniform-order-form-container {
  box-shadow: 0 0 2px rgba(128, 128, 128, 0.043);
  border-radius: 20px;
  background-color: #FAFAFA;
  margin-top: -200px;
  margin-left: -50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.uniform-order-form-box {
  height: 420px;
  padding: 20px;
  width: 1100px;
  margin-top: 0px !important;
}

.uniform-order-title {
  color: #fff !important; /* Set text color to white for better contrast */
  background-color: #1F1300; /* Background color */
  padding: 20px; /* Add padding for better appearance */
  border-top-left-radius: 10px; /* Optional: Add border radius for rounded corners */
  border-top-right-radius: 10px; /* Optional: Add border radius for rounded corners */
 
}

.uniform-order-form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.uniform-order-item {
  margin-right: 20px;
}

.uniform-order-button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.uniform-order-submit-button {
  background-color: #F7B05B !important;
  border-color: #1F1300 !important;
  height: 40px !important;
  width: 300px !important;
  color: #000000 !important;
  font-size: 16px !important;
  font-weight: bold;
  border-radius: 10px !important;
}

.additional-charges-message {
  color: #FF0000;
  font-size: 14px;
  margin-top: 1px;
}

.uniformform-with-image {
  position: relative;
}

.uniformlogo-image {
  position: absolute;
  top: 200px; /* Adjust as needed */
  right: 5px; /* Adjust as needed */
  width: 550px; /* Adjust width */
  height: auto; /* Maintain aspect ratio */
}

