/* .uniform-order-confirmation-container {
  text-align: center;
  margin-top: 50px;
}

.order-details {
  margin-top: 20px;
}

.modify-order-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #1890ff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.modify-order-button:hover {
  background-color: #40a9ff;
} */
